autom4te.cache
build/*
# after ".configure"
Makefile
Makefile.in
caves/Makefile
caves/Makefile.in
config.h
config.log
config.status
docs/Makefile
docs/Makefile.in
docs/*.html
docs/*.png
docs/style.css
include/.deps/
include/Makefile
include/Makefile.in
music/Makefile
music/Makefile.in
po/Makefile
po/Makefile.in
po/POTFILES
po/de.gmo
po/gdash.pot
po/hu.gmo
po/remove-potcdate.sed
shaders/Makefile
shaders/Makefile.in
sound/Makefile
src/.deps/
src/Makefile
src/Makefile.in
src/cave/.deps/
src/cave/helper/.deps/
src/cave/object/.deps/
src/editor/.deps/
src/fileops/.deps/
src/framework/.deps/
src/gfx/.deps/
src/gtk/.deps/
src/input/.deps/
src/misc/.deps/
src/sdl/.deps/
src/sound/.deps/
stamp-h1
# after "make" (untracked)
configure~
include/files2c-files2c.o
include/files2c.exe
src/**/*.o
src/**/*.dirstamp
#
# edit with visual studio
/.vs/gdash-export-Crli/
/.vs/slnx.*
/.vs/VSWorkspaceState.json
# startup item
# src/gdash.exe
